body {
    background-color: #aba8a9;
    margin: 0;
    padding: 0;
    }
    
    .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    }
    
    img {
    max-width: 100%;
    object-fit: contain;
    }
    
    .link {
    color: #cbf83e;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-shadow: 2px 2px 4px #000000;
    }