@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,300&display=swap');

  body {
    background-color: #aba8a9;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .columOne{
    background-color: #ffffff;
    padding-top: 3rem;
  };

  .left-col, .right-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #a09e9e;
  }
 
  .right-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .title {
    color: #cbf83e;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
  }

  .text {
    text-align: left;
    color: black;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-left: 5rem;
  }

  .ingre-text {
    color: black;
    font-size: 1.5rem;
  }
  
  .subtitle {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .text {
    margin-top: 10px;
  }

  #counterBtn {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #counterBtn button {
    background-color: #d8dfee;
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
  }

  #value {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }

  #ingredients table {
    width: 100%;
    border-collapse:collapse; 
  }
  
  #ingredients td {
    padding: 1rem;
  }
  
  #ingredients tr {  
    background-color: #d7d7d7;
    border: 3px solid #e4e2e2;
  }

  /* review Style part*/
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 50%;
  }

  input, select, textarea {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 5px solid #ccc;
    width: 100%;
    font-size: 1rem;
  }

  #reviews-container {
    margin: 20px auto;
    width: 50%;
    text-align: center;
    
  }
  
  #reviews {
    padding: 20px;
    height: auto;
    overflow-y:auto;
  }

  .review {
    padding: 20px;
    height: auto;
    overflow-y: auto;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 10px;
  }

  #rev-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #cbf83e;
    color: #000000;
    font-size: 1rem;
  }

  label {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .left-col, .right-col {
      width: 50%;
    }
    
    .left-col {
      justify-content: center;
    }

  }
  